body,html{
    background-color:#262b37;
    color:white;
}
.btn{
    background-color: #5f656b;
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
    font-style: italic;
}
.btn:hover{
    background-color: red;
}
article p{
    font-size:25px;
    padding-left: 10px;


}
article time{
    padding-left:10px;
}
article{
    color:#5f656b;
    /*background-color: #262b37;*/
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 10px;
    margin-top:25px;
}
.written-by{
    font-size:20px;
    padding-left: 10px;
}
.written-by a{

    color:#5f656b;
}
h1{
    padding-top: 20px;
}
