body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #B0BEC5;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    background: darkred;
}
.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.content {
    text-align: center;
    display: inline-block;
}
.title {
    font-size: 72px;
    margin-bottom: 40px;
}


a.bntDownload {
    text-decoration: none;
    color: white;
}
.bntDownload {
    font-size: 16px;
    font-weight: 700;
    background: #474d5d;
    padding: 16px 22px;
    padding: 1em;
    display: inline-block;
    border-radius: 8px;
    margin-bottom: 1em;
}
